body {
    background-image: url("https://miro.medium.com/max/1050/1*i3hzpSEiEEMTuWIYviYweQ.png");
    background-size: cover;
}

.App {
    margin: 0 0 15px 15px;
}


.square {
    display: flex;
}

.square1 {
    width: 30px;
    height: 25px;
    background: white;
    border: 2px solid black;
    text-align: center;
}

.square2 {

    width: 30px;
    height: 25px;
    background: white;
    border: 2px solid black;
    text-align: center;
}

.square3 {

    width: 25px;
    height: 25px;
    background: white;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
    border: 2px solid black;
}
